nav { /* main navigation settings */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    gap: 12px;
    background-color: #31859b;
}
nav a { /* navigation default font colour */
    text-decoration: none;
    color: #333;
    background-color: #92cddc;
    outline: solid black 2px;
    font-size: xx-large;
    padding: 1%;
}
nav a:hover { /* navigation mouse hover font colour */
    color: #800020;
}

.header-container { 
    width: calc((100% - 230px) * 0.20);
    font-family: 'Playfair Display', serif;
    background-color: #31859b;
}

.header-container p {
    background-color: #92cddc;
    outline: solid black 2px;
}

.flex-container { /* spaces things around evenly */
    display: flex;
    justify-content: space-around;
}

.text-sizing { /* font size and padding for title and text */
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.center-me { /* to a div to make it centered */
    margin: auto;
    text-align: center;
}

.row-display { /* display items inside in a row */
    display: flex;
    flex-wrap: wrap;
}

.black-border {
    outline: solid black 4px;
}

.thin-black-border {
    outline: solid black 2px;
}

.product-display {
    width: 150px;
    background-color: #d9958f;
}

.horizontal-spacer {
    height: 15px;
}