html { color-scheme: light dark; }

body { 
    background-color: #f0fdff;
    color: #000;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;   /* main background */
}

.container {  /* inside the box thingy */
    max-width: 800px;
    margin: 2rem auto;
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 12px;
}

h1 {
    color: #2cf8ff;
    text-align: center;
}

.back-link {
    text-align: center;
    margin-bottom: 1rem;
}

.back-link a {
    color: #2cf8ff;
    text-decoration: none;
    font-weight: bold;
}

.about-text {
    line-height: 1.6;
    font-size: 1rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.85rem;
    color: #555;
}

footer a {
    color: #00828b;
    text-decoration: underline;
}